-# .message
-#   .message__upper-info
-#     .message__upper-info__taker
-#       user-name
-#     .message__upper-info__date
-#       2019/10/28(Mon)
-#       .message__text
-#         message

.message{"data-message-id": "#{message.id}"}
  .upper-message
    .upper-message__user-name
      = message.user.name
    .upper-message__date
      = message.created_at.strftime("%Y/%m/%d %H:%M")
  .lower-message
    - if message.content.present?
      %p.lower-message__content
        = message.content
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?